<div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12 bodyDiv" >
                <img src="./image/photo2.jpg"    class="photo"  >
                <div>
                    <h1 class="bodyTitle">Үхлийн тэмдэглэлийн дэвтэр</h1>
                </div>

                <div >
                    Улаанбаатар хотод ердийн л нэгэн өдөр өнгөрч байлаа. Хавар болж байгаа болохоор гадаа нэг л хуйсагнуур. Өчигдөр ганц өдрийн дотор бараг дөрвөн улирал солигдсон. Өглөө босоход тэнгэр бүүдийж байснаа шороон шуурга тавиад, араас нь, цаг ч болоогүй байтал цас орж, зам нэвсийтэл дарсан... 
                </div>
            </div> <!-- MD 8-->
            <!-- Баруун талын багана эхэллээ -->
            <div class="col-md-4 col-sm-12 bodyDiv" >
                <div>
                        <img src="./image/photo3.jpg" class="photo">
                        <div>
                            <h3 class="bodyTitle">Мөрөөдөл дуудсан Хонг Конг</h3>
                        </div>
                </div>

                <div>
                        <img src="./image/photo4.jpg" class="photo">
                        <div>
                            <h3 class="bodyTitle">12-р ангийн хавар</h3>
                        </div>
                </div>
            </div>

            <!-- Үндсэн Контент дуусав -->

        </div><!-- End of Row 1-->
</div>


