<div class="hero">
    <!-- Here will be a hero image -->
    <div class="container">
        <div class="row myTitle">
            Тэнгэр мэт уужим хүний сэтгэлд <br> 
            Тэнүүн хорвоо тэр чигээрээ багтдаг
        </div>
    </div>
</div>