<!-- Мета  -->
<% include ./partials/header %>

<!-- Меню -->
<div id="myHeader">    <!-- Menu or Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <div class="container">
                
                <a class="navbar-brand" href="/">
                        <i class="fas fa-code" style="font-size: 1.1em; margin-right: 10px;"> </i>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                      <a class="nav-link" href="/">НҮҮР <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link " href="/blog">БЛОГ</a>
                  </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/portfolio">ПОРТФОЛИО</a>
                    </li>



                    <li class="nav-item">
                      <a class="nav-link" href="/works">БҮТЭЭЛҮҮД</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="/about">МИНИЙ ТУХАЙ</a>
                </li>
        </div>
        </div><!-- End of Container -->
      </nav>
</div><!-- End of Menu -->

<!-- Үндсэн текст -->
<% include ./partials/body %>

<!-- CopyRight -->
<% include ./partials/margin2 %>


<!-- Фүүтэр -->
<% include ./partials/footer %>